.user
  .edit
    %h2.for_form= 'Редактирование профиля'
    = simple_form_for @user do |f|
      = f.input :name
      = f.input :email
      = f.input :about_my
      .user_avatar_input{ :style => 'display:none;' }
        = f.input :avatar, input_html: { :class => 'avatar_image_input button' }

      %button{ :type => 'button', :class => 'avatar_select_button button btn btn-default btn-sm' }= 'Выбрать изображение'
      .image_upload
        = image_tag @user.avatar.url, class: 'js-avatar_upload'
      - if @user.errors.any?
        - @user.errors.each do |attribute, message|
          = message if attribute == :avatar_file_size || attribute == :avatar_content_type

      .actions
        = f.button :submit, class: 'btn-default'
