.projects
  .categories_menu
    = link_to 'Все', root_path
    - Project.categories.each do |category|
      = link_to category, root_path(:category => category)

  - @projects.each do |project|
    .project
      .info
        .top
          .title
            = link_to project.title, project_path(project.id)
          .download
            = link_to image_tag('download.png', height: '13px'), project.preview.url(:original, false), target: '_blank'
      .image
        = link_to image_tag(project.preview.url(:on_main), class: 'project_preview_on_index'), project_path(project.id)
      .info
        .bottom
          .my_places
            = "мой вклад: #{current_user.places.where(:project_id => project.id).count}"
          .statistics
            = "#{project.places.count}/#{project.total_places_count}"
