- breadcrumb :project, @project
.project
  .show
    %h1= @project.title
    %p=  @project.description
    %p=  "(Категория \"#{@project.category}\")"

    .project_wrapper
      = render partial: '/regions/table', locals: { :regions  => @project.regions } if @project.development?
      = render partial: 'complete_table', locals: { :project => @project } if @project.complete?
