- breadcrumb :project, @project
.project
  .show
    - if !show_full_complete_project?
      %h4= 'Выберите регион'

      .project_wrapper
        .left_wrapper
          = render partial: 'info_project', locals: { :project  => @project }
        .right_wrapper
          = render partial: '/users/my_places_on_project', locals: { :project  => @project, :user => current_user }

        - if !@project.complete?
          = render partial: '/regions/table', locals: { :regions  => @project.regions } if @project.development?
        - else
          = render partial: 'complete_table_medium', locals: { :project => @project }

    - elsif show_full_complete_project?
      = render partial: 'complete_table', locals: { :project => @project }


