= simple_form_for [:manage, @project] do |f|
  = f.input :title
  = f.input :description
  = f.input :category

  - if params['action'] == 'new'

    = f.input :count_places_in_line_regions, input_html: { value: 10 }
    .place_size_wrapper
      = f.input :size_place_x, input_html: { value: 30 }
      = f.input :size_place_y, input_html: { value: 20 }

      %button{ :type => 'button', :class => 'set_place_size_button button' }= 'Применить размер'

    .image_input_wrapper
      = f.input :image, input_html: { :class => 'image_load_button button' }
    %button{ :type => 'button', :class => 'image_button button' }= 'Выбрать изображение'

    .image_edit_wrapper
      = image_tag @project.image.url, class: 'js-image_upload'
      %canvas{ :class => 'canvas'}

  = f.submit
  = link_to 'Отмена', manage_projects_path
