= simple_form_for [:manage, @project] do |f|
  = f.input :title
  = f.input :description
  = f.input :size_place_x
  = f.input :size_place_y
  = f.input :image, input_html: { :class => 'image_load_button' }
  = image_tag @project.image.url, class: 'js-image_upload'
  = f.submit
