.places
  %table{ :background => region.image.url, :width => region.count_x * project.size_place_x, :height => region.count_y * project.size_place_y  }
    - (0...region.count_y).each_with_index do |y, index_y|
      %tr
        - (0...region.count_x).each_with_index do |x, index_x|
          %td
            .place
              - place = places.where(:x => index_x, :y => index_y).first
              - if place.present? && place.state == :published
                = link_to content_tag(:img, '', :src => place.image.url, :style => "height: #{project.size_place_y}px; width: #{project.size_place_x}px"),
                  project_region_place_path(project, region, place, :x => x, :y => y)
              - else
                = link_to content_tag(:div, '', :style => "height: #{project.size_place_y}px; width: #{project.size_place_x}px"),
                  new_project_region_place_path(project, region, :x => x, :y => y)
