- breadcrumb :place, @place_original_image
.place
  %h4.info= 'Выберите подходящий цвет'
  .left_wrapper
    = render partial: '/projects/info_project', locals: { :project  => @region.project }
  .right_wrapper
    = render partial: '/users/my_places_on_region', locals: { :region  => @region }


  .color_edit
    = simple_form_for [@region.project, @region, @place] do |f|
      .svg_wrapper

        .previews_mini_images
          = image_tag @place_original_image.image.url, class: 'place_original_image'

          .svg_preview_wrapper{ style: "width: #{@region.project.size_place_x}px; height: #{@region.project.size_place_y}px; position: absolute; display: inline-block;" }
            %svg{ class: 'filterPlace', :width => @region.project.size_place_x, :height => @region.project.size_place_y }
              %defs
                %filter{ id: 'fp1' }

                  %feColorMatrix{ class: 'filter_saturate', type: 'saturate', values: '1' }
                  %feComponentTransfer
                    %feFuncR{ class: 'filter_r', type: 'linear', slope: '1' }
                    %feFuncG{ class: 'filter_g', type: 'linear', slope: '1' }
                    %feFuncB{ class: 'filter_b', type: 'linear', slope: '1' }
                    %feFuncA{ type: 'identity' }

              %image{ :height => '100%', :width => '100%', 'xlink:href' => @place.image.url, class: 'svg_place_image', filter: 'url(#fp1)' }

        %svg{ class: 'filterPlace', :height => @place.image_height, :width => @place.image_width }
          %defs
            %filter{ id: 'fp1' }

              %feColorMatrix{ class: 'filter_saturate', type: 'saturate', values: '1' }
              %feComponentTransfer
                %feFuncR{ class: 'filter_r', type: 'linear', slope: '1' }
                %feFuncG{ class: 'filter_g', type: 'linear', slope: '1' }
                %feFuncB{ class: 'filter_b', type: 'linear', slope: '1' }
                %feFuncA{ type: 'identity' }

          %image{ :height => '100%', :width => '100%', 'xlink:href' => @place.image.url, class: 'svg_place_image', filter: 'url(#fp1)' }
      .svg_controls
        %span= 'Насыщенность'
        %input{ class: 'color_input js-slider', name: 'place[saturate]', id: :saturate, type: :text, data: { value: 1, min: 0, max: 1, step: 0.1 } }
        %br
        %span= 'Красный'
        %input{ class: 'color_input js-slider', name: 'place[r_component]', id: :r_component, type: :text, data: { value: 1, min: 0, max: 5, step: 0.1 } }
        %br
        %span= 'Зелёный'
        %input{ class: 'color_input js-slider', name: 'place[g_component]', id: :g_component, type: :text, data: { value: 1, min: 0, max: 5, step: 0.1 } }
        %br
        %span= 'Синий'
        %input{ class: 'color_input js-slider', name: 'place[b_component]', id: :b_component, type: :text, data: { value: 1, min: 0, max: 5, step: 0.1 } }
        %br

      .actions
        = link_to 'Отмена', edit_project_region_place_path(@region.project.id, @region.id, @place.id), class: 'btn btn-default'
        %button{ :type => 'button', :id => 'to_default_button', class: 'btn btn-default' }= 'Сбросить'
        = f.button :submit, :name => 'colored', :value => 'Применить', class: 'btn-success'
    = render :partial => 'navigate', :locals =>  { :region => @region }
