.place
  %h4.info= 'Редактируйте и опубликуйте изображение'
  .left_wrapper
    = render partial: '/projects/info_project', locals: { :project  => @project }
  .right_wrapper
    = render partial: '/users/my_places_on_region', locals: { :region  => @region }

  .edit
    = render partial: 'places/form'
    = render :partial => 'navigate', :locals =>  { :region => @region, :project => @project }
