.place
  %h4.info= 'Выберите изображение'
  .left_wrapper
    = render partial: '/projects/info_project', locals: { :project  => @region.project }
  .right_wrapper
    = render partial: '/users/my_places_on_region', locals: { :region  => @region }

  .new
    = render partial: 'places/form'
    = render :partial => 'navigate', :locals =>  { :region => @region }


