.place
  .show
    - breadcrumb :place, @place
    %p= "Место #{@place.x} - #{@place.y}"
    %p= "(#{@place.state == :published ? 'Опубликовано' : 'В черновиках'})"
    %div= image_tag @place.image.url

    - if @place.user == current_user && @place.state != 'published'
      - if Place.is_empty?(@region, @place.x, @place.y)
        = simple_form_for [@region.project, @region, @place] do |f|
          = f.input :x, as: :hidden
          = f.submit 'Опубликовать'
          %p= "(Место пока не занято)"
      - else
        %p= "(Место уже занято. Можете удалять картинку)"

    - if @place.user == current_user
      %div= link_to 'Редактировать', edit_project_region_place_path(@place.region.project.id, @place.region.id, @place.id) if can? :edit, @place
      %div= link_to 'Удалить', project_region_place_path(@place.region.project.id, @place.region.id, @place.id), data: { :confirm => 'Вы уверены?' }, method: :delete if can? :destroy, @place
    %br
    = render :partial => 'navigate', :locals =>  { :place => @place }
    %div= link_to image_tag(@place.user.avatar.url(:small)), user_path(@place.user.id) if @place.user.present?
    %div= link_to @place.user.name, user_path(@place.user.id) if @place.user.present?
