.place
  .show
    - breadcrumb :place, @place
    %div= "Место #{@place.x} - #{@place.y}"
    %div= image_tag @place.image.url
    - if @place.user == current_user
      %div= link_to 'Редактировать', edit_project_region_place_path(@place.region.project.id, @place.region.id, @place.id, :x => @place.x, :y => @place.y )
      %div= link_to 'Удалить', project_region_place_path(@place.region.project.id, @place.region.id, @place.id, :x => @place.x, :y => @place.y ), data: { :confirm => 'Вы уверены?' }, method: :delete
    %br
    = render :partial => 'navigate', :locals =>  { :place => @place }
    %div= link_to image_tag(@place.user.avatar.url, height: '50px'), user_path(@place.user.id) if @place.user.present?
    %div= link_to @place.user.name, user_path(@place.user.id) if @place.user.present?
