.place
  .show
    .info
      .image= image_tag @place.image.url

      .user
        =link_to image_tag(@place.user.avatar.url(:small)), user_path(@place.user.id), class: 'tipsy_show_s', 'original-title': @place.user.name if @place.user.present?

      - if @place.state == :published
        .glyphicon.glyphicon-ok.tipsy_show_s{ 'original-title': 'Опубликованно' }
      - else
        .glyphicon.glyphicon-cog.tipsy_show_s{ 'original-title': 'В черновиках' }

      - if @place.comment.present?
        .comment
          = @place.comment
    - if @place.user == current_user && !@project.complete?
      = simple_form_for [@project, @region, @place] do |f|
        = f.input :x, as: :hidden

        .actions
          = link_to 'Удалить', project_region_place_path(@project.id, @region.id, @place.id), class: 'btn btn-default', data: { :confirm => 'Вы уверены?' }, method: :delete if can? :destroy, @place
          = link_to 'Редактировать', edit_project_region_place_path(@project.id, @region.id, @place.id), class: 'btn btn-default' if can? :edit, @place

          - if @place.state != :published && can?(:edit, @place)
            = f.submit 'Опубликовать', class: 'btn btn-success'
          - elsif @place.state != :published && !Place.is_empty?(@region, @place.x, @place.y)
            %p= "Место уже занято. Можете удалять картинку"


