<div class='header_wrapper'>
  <div class='main_logo'>
  </div>
  <div class='actions'>
    <% if user_signed_in? %>
      <span><%= current_user.name %></span>
      <%= link_to 'Личный кабинет', user_path(current_user.id) %>
      <%= link_to 'Админка!', manage_projects_path if current_user.try(:admin?) %>
      <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
  </div>
  <%= render partial: 'layouts/header_categories_menu' %>
</div>
<%= breadcrumbs display_single_fragment: true, style: :bootstrap, separator: '' %>

