<!DOCTYPE html>
<html>
  <head>
    <title>Icomposite</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='full_size'>

    <%= render partial: 'layouts/mini_header' %>
    <div class='main_wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
